@{
}

<link rel="stylesheet" href="/css/footer.css" />
<footer class="footer">
	<div class="container">
		<ul class="footer-nav">
			<li class="footer-nav-item"><a href="/products" class="footer-nav-link link">Shop all</a></li>
			<li class="footer-nav-item"><a href="/collections" class="footer-nav-link link">Collections</a></li>
			<li class="footer-nav-item"><a href="/contact" class="footer-nav-link link">Contact</a></li>
		</ul>
		<p class="copyright">Copyright ©2025 Your LEGO World. All rights reserved</p>
	</div>
</footer>
