@model Exception
@{
    ViewData["Title"] = "Error";
}

<div class="container">
    <h1>500 - Server error</h1>
    <p>Error message: @Model.Message</p>
    <p>Our server failed to respond for now. Please try again later.</p>
</div>
