USE [master]
GO
/****** Object:  Database [LegoWebsite]    Script Date: 08/05/2025 10:46:47 PM ******/
CREATE DATABASE [LegoWebsite]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LegoWebsite', FILENAME = N'D:\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LegoWebsite.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LegoWebsite_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LegoWebsite_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LegoWebsite].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LegoWebsite]
GO
/****** Object:  Table [dbo].[AdminAccount]    Script Date: 08/05/2025 10:46:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminAccount](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[accountName] [varchar](50) NULL,
	[email] [varchar](20) NULL,
	[password] [varchar](20) NULL,
	[avatarURL] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Collection]    Script Date: 08/05/2025 10:46:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Collection](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](100) NULL,
	[description] [varchar](1023) NULL,
	[handle] [varchar](100) NULL,
	[status] [bit] NULL,
	[imageURL] [varchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 08/05/2025 10:46:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[firstName] [varchar](100) NULL,
	[lastName] [varchar](100) NULL,
	[email] [varchar](100) NULL,
	[password] [varchar](20) NULL,
	[phoneNumber] [char](10) NULL,
	[address] [varchar](200) NULL,
	[avatarURL] [varchar](255) NULL,
	[city] [char](50) NULL,
	[country] [char](50) NULL,
	[state] [char](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 08/05/2025 10:46:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[total] [decimal](22, 2) NULL,
	[customerId] [int] NULL,
	[shippingAddress] [varchar](200) NULL,
	[status] [varchar](20) NULL,
	[orderDate] [datetime2](7) NULL,
	[createdDate] [datetime2](7) NULL,
	[shippedDate] [datetime2](7) NULL,
	[deliveredDate] [datetime2](7) NULL,
	[fulfilledDate] [datetime2](7) NULL,
	[archivedDate] [datetime2](7) NULL,
	[cancelledDate] [datetime2](7) NULL,
	[city] [char](50) NULL,
	[state] [char](50) NULL,
	[country] [char](50) NULL,
	[email] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderedItem]    Script Date: 08/05/2025 10:46:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderedItem](
	[orderId] [int] NULL,
	[productId] [int] NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 08/05/2025 10:46:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](100) NULL,
	[description] [varchar](1023) NULL,
	[handle] [varchar](1023) NULL,
	[price] [decimal](12, 2) NULL,
	[inventory] [int] NOT NULL,
	[status] [bit] NOT NULL,
	[modelNumber] [int] NULL,
	[collectionId] [int] NULL,
	[imageURL] [varchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AdminAccount] ON 

INSERT [dbo].[AdminAccount] ([id], [accountName], [email], [password], [avatarURL]) VALUES (1, N'Admin1', N'admin@gmail.com', N'123456', N'https://res.cloudinary.com/dpmed5hfe/image/upload/v1745675297/icons8-admin-100_vgrds5.png')
SET IDENTITY_INSERT [dbo].[AdminAccount] OFF
GO
SET IDENTITY_INSERT [dbo].[Collection] ON 

INSERT [dbo].[Collection] ([id], [title], [description], [handle], [status], [imageURL]) VALUES (1, N'Lego City', N'Realistic Lego sets representing urban life.', N'lego-city', 1, N'https://res.cloudinary.com/dpmed5hfe/image/upload/v1744302379/lego-city-thumbnail_mblvbz.webp')
INSERT [dbo].[Collection] ([id], [title], [description], [handle], [status], [imageURL]) VALUES (2, N'Lego Star Wars', N'Sets based on the Star Wars franchise.', N'lego-star-wars', 1, N'https://res.cloudinary.com/dpmed5hfe/image/upload/v1744302395/lego-star-wars-thumbnail_n7t8sm.webp')
INSERT [dbo].[Collection] ([id], [title], [description], [handle], [status], [imageURL]) VALUES (3, N'Lego Creator 3in1', N'Versatile sets for building multiple models.', N'lego-creator-3-in-1', 1, N'https://res.cloudinary.com/dpmed5hfe/image/upload/v1744302382/lego-creator-3-in-1-thumbnail_xy4v7r.webp')
SET IDENTITY_INSERT [dbo].[Collection] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([id], [firstName], [lastName], [email], [password], [phoneNumber], [address], [avatarURL], [city], [country], [state]) VALUES (1, N'John', N'Doe', N'john.doe@example.com', N'password123', N'5550100001', N'123 Elm St, Springfield, IL', N'https://res.cloudinary.com/dpmed5hfe/image/upload/v1744559458/admin-thumbnail_tbutnl.png', NULL, NULL, NULL)
INSERT [dbo].[Customer] ([id], [firstName], [lastName], [email], [password], [phoneNumber], [address], [avatarURL], [city], [country], [state]) VALUES (2, N'Jane', N'Smith', N'jane.smith@example.com', N'password456', N'5550100002', N'456 Oak St, Springfield, IL', N'https://res.cloudinary.com/dpmed5hfe/image/upload/v1744559458/admin-thumbnail_tbutnl.png', N'Portland                                          ', N'United States                                     ', N'Oregon                                            ')
INSERT [dbo].[Customer] ([id], [firstName], [lastName], [email], [password], [phoneNumber], [address], [avatarURL], [city], [country], [state]) VALUES (3, N'Michael', N'Johnson', N'michael.johnson@example.com', N'password789', N'5550100003', N'57 Maple Crescent', N'https://res.cloudinary.com/dpmed5hfe/image/upload/v1744559458/admin-thumbnail_tbutnl.png', N'Toronto                                           ', N'Canada                                            ', N'Ontario                                           ')
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderedItem] ON 

INSERT [dbo].[OrderedItem] ([orderId], [productId], [id], [quantity]) VALUES (13, 22, 3, 3)
INSERT [dbo].[OrderedItem] ([orderId], [productId], [id], [quantity]) VALUES (13, 27, 4, 1)
INSERT [dbo].[OrderedItem] ([orderId], [productId], [id], [quantity]) VALUES (14, 1, 5, 1)
SET IDENTITY_INSERT [dbo].[OrderedItem] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([id], [title], [description], [handle], [price], [inventory], [status], [modelNumber], [collectionId], [imageURL]) VALUES (1, N'LEGO Classic Bricks', N'Set of 500 colorful bricks', N'lego-classic-bricks', CAST(29.99 AS Decimal(12, 2)), 146, 1, 10692, 8, N'https://res.cloudinary.com/dpmed5hfe/image/upload/v1744302436/lego-10692-main-image_ftt7vc.webp')
INSERT [dbo].[Product] ([id], [title], [description], [handle], [price], [inventory], [status], [modelNumber], [collectionId], [imageURL]) VALUES (3, N'LEGO Star Wars Millennium Falcon', N'Iconic spaceship with minifigures', N'lego-star-wars-millennium-falcon', CAST(149.99 AS Decimal(12, 2)), 78, 1, 75192, 2, N'https://res.cloudinary.com/dpmed5hfe/image/upload/v1744302668/lego-75192-main-image_qejwtw.webp')
INSERT [dbo].[Product] ([id], [title], [description], [handle], [price], [inventory], [status], [modelNumber], [collectionId], [imageURL]) VALUES (4, N'LEGO Creator 3in1 Pirate Ship', N'Build and rebuild into three models', N'lego-creator-3in1-pirate-ship', CAST(89.99 AS Decimal(12, 2)), 118, 1, 31109, 3, N'http://res.cloudinary.com/dpmed5hfe/image/upload/v1745855622/LegoWebsite/ProductImage/lego-31109-main-image.webp.webp')
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [inventory]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Orders_customerId] FOREIGN KEY([customerId])
REFERENCES [dbo].[Customer] ([id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Orders_customerId]
GO
ALTER TABLE [dbo].[OrderedItem]  WITH CHECK ADD  CONSTRAINT [FK_OrderedItem_orderId] FOREIGN KEY([orderId])
REFERENCES [dbo].[Order] ([id])
GO
ALTER TABLE [dbo].[OrderedItem] CHECK CONSTRAINT [FK_OrderedItem_orderId]
GO
ALTER TABLE [dbo].[OrderedItem]  WITH CHECK ADD  CONSTRAINT [FK_OrderedItem_productId] FOREIGN KEY([productId])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[OrderedItem] CHECK CONSTRAINT [FK_OrderedItem_productId]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_collectionId] FOREIGN KEY([collectionId])
REFERENCES [dbo].[Collection] ([id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_collectionId]
GO
USE [master]
GO
