@{
	ViewData["Title"] = "Contact us";
}

<link rel="stylesheet" href="/css/contact.css" />
<div class="container section-padding">
	<h1 class="contact-title">Contact Us</h1>
	<h2 class="contact-subtitle">We’d Love to Hear From You!</h2>
	<p>Whether you have questions, feedback, or just want to say hello, feel free to reach out to us!</p>
	<h3>Get in Touch</h3>
	<p>
		<b>Email:</b>
		<a href="mailto:your-lego-world.com">info@your-lego-world.com</a>
	</p>
	<p>
		<b>Phone:</b>
		<a href="tel:1234567890">(123) 456-7890</a>
	</p>
	<p>
		<b>Address:</b>
	<p>123 Your Street</p>
	<p>Your City, State, ZIP</p>
	</p>
	<h3>Connect with Us on Social Media</h3>
	<ul>
		<li>
			<b>Facebook:</b> <a href="https://facebook.com/YourLEGOWorld">Your LEGO World</a>
		</li>
		<li>
			<b>Twitter</b><a href="https://x.com/YourLEGOWorld">Your LEGO World</a>
		</li>
		<li>
			<b>Instagram</b><a href="https://instagram.com/YourLEGOWorld">Your LEGO World</a>
		</li>
	</ul>
	<h3>Office Hours</h3>
	<ul>
		<li><b>Monday - Friday:</b> 9:00 AM - 5:00 PM</li>
		<li><b>Saturday - Sunday:</b> Closed</li>
	</ul>
</div>
