.page-list {
    display: flex;
    justify-content: center;
    gap: .5rem;
    align-items: center;
}
.page-number {
    font-size: 1.3rem;
}
.current-page {
    color: var(--third-color);
    font-weight: 600;
}
