@model DoAnCuoiKy.Models.PaginatedProduct

@{
	Layout = "_AdminLayout";
	ViewData["Title"] = "All products";

	var products = Model.products as List<Product> ?? [];
	int currentPage = Model.currentPage;
	int totalPages = Model.totalPages;
	string selectedSort = Model.selectedSort;
	int numberOfPagesToShow = 3;
	int startPage = currentPage - (numberOfPagesToShow / 2);

	if (startPage < 1)
	{
		startPage = 1;
	}

	int endPage = startPage + numberOfPagesToShow - 1;
	if (endPage > totalPages)
	{
		endPage = totalPages;
		startPage = endPage - numberOfPagesToShow + 1;

		if (startPage < 1)
		{
			startPage = 1;
		}
	}
}

<script src="/js/admin-list-logic.js" defer></script>
<div class="section-wrapper">
	<h1 class="section-title">All products</h1>
	<div class="collection-wrapper">
		<div class="group-action">
			<div class="action-btn">
				<a href="/admin/products/new?createProduct=yes" class="btn-secondary" target="_blank">Add product</a>
			</div>
			@await Html.PartialAsync("_SortingMethod", new SortingMethod
{
	sortName = "product-sort",
	chosenOption = selectedSort,
	sortOptions = new List<SortOption>() {
			new SortOption { value= "default", name = "Default" },
			new SortOption { value= "name-asc", name= "Name: A to Z" },
			new SortOption { value= "name-desc", name= "Name: Z to A" },
			new SortOption { value= "price-asc", name= "Price: low to high" },
			new SortOption { value= "price-desc", name= "Price: high to low" }
			}
})
		</div>
		<div class="collection-table">
			@if (products.Count > 0)
			{
				<div class="table-wrapper">
					<table>
						<thead>
							<tr>
								<th class="check-all-items"><input type="checkbox" class="check-all-input" /></th>
								<th>ID</th>
								<th>Thumbnail</th>
								<th>Name</th>
								<th>Price</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var product in products)
							{
								<tr class="list-item" data-list-item-link="/admin/products/@product.handle">
									<td class="check-single-item"><input type="checkbox" id="product-@product.id" class="check-single-input" /></td>
									<td data-label="ID: ">@product.id</td>
									<td data-label="Image: ">
										@await Html.PartialAsync("_Image", new Image {source = product.imageURL, width = 50, height = 50, loadingType = "lazy", altText = product.title, className = ""})
									</td>
									<td data-label="Title: ">@product.title</td>
									<td data-label="Price: ">@product.price</td>
									<td data-label="Status: ">
										@if (product.status == true)
										{
											<span class="product-active">Active</span>
										}
										else
										{
											<span class="product-inactive">Inactive</span>
										}
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
				@await Html.PartialAsync("_Pagination", new Pagination { currentPage = currentPage, startPage = startPage, endPage = endPage, totalPages = totalPages })
			}
			else
			{
				<p class="empty-list">There is no products left to show.</p>
			}
		</div>
	</div>
</div>
